* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.principal {
    height: 100vh;
    width: 100%;
    background-color: #0E0E0F;
    flex-wrap: wrap-reverse;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #0E0E0F;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

nav a:hover {
    color: #3454DC;
    transition: 0.2s;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list li {
    margin-right: 35px;
}

.hamburguer-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px 0;
}

@media screen and (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column; 
        align-items: flex-end;
        position: absolute;
        top: 60px;
        right: 0; 
        background-color: #0E0E0F;
        width: 100%; 
        box-sizing: border-box;
    }

    .nav-list.active {
        display: flex;
    }

    .hamburguer-menu {
        display: flex;
    }

    nav {
        padding-bottom: 20px;
    }
}

.portfolio {
    color: #ffffff;
    font-size: 35px;
    font-weight: 500;
}

.portfolio span {
    color: #3454DC;
}

li {
    color: #ffffff;
    list-style: none;
    display: inline-block;
    font-size: 20px;
    margin-right: 40px;
    cursor: pointer;
}

li:hover {
    color: #3454DC;
    transition: 0.2s;
}

h1 {
    color: #ffffff;
}

h2 {
    color: #ffffff;
    font-size: 20px;
}

h3 {
    color: #ffffff;
    font-size: 15px;
}

p {
    color: #ffffff;
}

.nome {
    position: absolute;
    top: 50%;
    left: 30%;
}

.nome span {
    color: #3454DC
}

.nome h3 {
    font-family: 'Open Sans', sans-serif;
}

.links {
    display: flex;
    /*padding-top: 590px;
    padding-left: 561px;
    */
}

.button {
    margin: 0 10px;
    display: inline-block; 
}

.button img {
    width: 40px;
    height: auto;
}

.button:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease;
}

.minha-foto {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    object-fit: cover;
    position: absolute;
    top: 40%;
    right: 30%;
    margin: 0 auto; 
}

section {
    background-color: #0e0e0f;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
}

.sobre {
    width: 60%;
    margin-bottom: 20px;
    text-align: center;
}

.sobre h2 {
    color: #3454DC;
}

.sobre p {
    text-align: justify; 
    padding-top: 25px;
    line-height:33px
}

.conhecimento {
    padding-top: 150px;
    padding-bottom: 20px;
    background-color: #0E0E0F;
    height: 10%;
    text-align: center;
}

.conhecimento span {
    color: #3454DC;
}

.conhecimento h2 {
    margin: 10px;
}

.conhecimento img {
    width: 40px;
    height: 40px;
    margin: 0 30px;
}

.linguagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    padding-left: 6%;
    padding-right: 6%;
    line-height:33px;
}

.linguagem-item {
    width: calc(33.33% - 1px);
    margin: 3px;
    padding-top: 10px;
    padding-bottom: -10px;
    text-align: center;
    border: 3px solid #141414; 
    border-radius: 10px;
    box-sizing: border-box;
}

.linguagem-item img {
    width: 15%;
    height: auto;
    object-fit: cover;
}

.linguagem-item h2 {
    margin-top: 5px;
}

.formacao {
    padding-top: 150px;
    padding-bottom: 50px;
    background-color: #0E0E0F;
    height: 10%;
    text-align: center;
}

.formacao span{
    color: #3454DC;
}