* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.principal {
    height: 100vh;
    width: 100%;
    background-color: #0E0E0F;
    
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    background-color: #0E0E0F;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

nav a:hover {
    color: #3454DC;
    transition: 0.2s;
}

.portfolio {
    color: #ffffff;
    font-size: 35px;
    font-weight: 500;
}

.portfolio span {
    color: #3454DC;

}

li {
    color: #ffffff;
    list-style: none;
    display: inline-block;
    font-size: 20px;
    margin-right: 40px;
    cursor: pointer;
}

li:hover {
    color: #3454DC;
    transition: 0.2s;
}

h1 {
    color: #ffffff;
}

h2 {
    color: #ffffff;
    font-size: 20px;
}

p {
    color: #ffffff;
}

.nome {
    position: absolute;
    top: 50%;
    left: 30%;
}

.nome span {
    color: #3454DC
}

.minha-foto {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    object-fit: cover;
    position: absolute;
    top: 40%;
    right: 30%;
}

section {
    background-color: #0e0e0f;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
}

.sobre {
    width: 60%;
    margin-bottom: 20px;
    text-align: center;
}

.sobre h2 {
    color: #3454DC;
}

.sobre p {
    text-align: justify; 
    padding-top: 25px;
    line-height:33px
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.button {
    margin: 0 10px;

}

.button img {
    width: 50px;
    height: auto;
}