* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

h1 {
    color: #ffffff;
}

h2 {
    color: #ffffff;
    font-size: 20px;
}

h3 {
    color: #ffffff;
    font-size: 15px;
}

p {
    color: #ffffff;
}

.principal {
    height: 100vh;
    width: 100%;
    background-color: #0E0E0F;
    flex-wrap: wrap-reverse;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #0E0E0F;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s;
}

.nav-item.ativo {
    background-color: #3454DC;
    color: #ffffff;
}


nav a {
    text-decoration: none;
    color: #ffffff;
}

nav a:hover {
    color: #3454DC;
    transition: 0.2s;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list li {
    margin-right: 35px;
}

.hamburguer-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px 0;
}

.portfolio {
    color: #ffffff;
    font-size: 35px;
    font-weight: 500;
    background-image: linear-gradient(
        -225deg,
        #633cf1 0%,
        #3debf1 29%,
        #3454DC 67%,
        #3454DC 100%
        );
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        color: #fff;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip 2s linear infinite;
 
}

@keyframes textclip {
    to {
      background-position: 200% center;
    }
}

li {
    color: #ffffff;
    list-style: none;
    display: inline-block;
    font-size: 20px;
    margin-right: 40px;
    cursor: pointer;
}

li:hover {
    color: #3454DC;
    transition: 0.2s;
}

.nome {
    position: absolute;
    top: 50%;
    left: 30%;
}

.nome span {
    color: #3454DC
}

.nome h3 {
    font-family: 'Open Sans', sans-serif;
}

.links {
    position: absolute;
    top: 60%;
    left: 29.4%;
}

.button {
    margin: 0 10px;
    display: inline-block; 
}

.button img {
    width: 40px;
    height: auto;
}

.button:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease;
}

.minha-foto {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    object-fit: cover;
    position: absolute;
    top: 40%;
    right: 30%;
    margin: 30px auto; 
    display: block;
    transition: box-shadow 0.3s ease;
}

.minha-foto:hover {
    box-shadow: 0 4px 8px #3454DC;
}

section {
    background-color: #0e0e0f;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
}

.sobre {
    width: 60%;
    margin-bottom: 20px;
    text-align: center;
}

.sobre h2 {
    color: #3454DC;
}

.sobre p {
    text-align: justify; 
    padding-top: 25px;
    line-height:33px
}

.formacao {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #0E0E0F;
    text-align: center;

}

.formacoes {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    margin: 3px;
}

.formacao span{
    color: #3454DC;
}

.formacao-item {
    width: calc(33.33% - 1px);
    margin-bottom: 20px;
}

.conhecimento {
    padding-top: 185px;
    padding-bottom: 100px;
    background-color: #0E0E0F;
    height: 10%;
    text-align: center;
}

.conhecimento span {
    color: #3454DC;
}

.conhecimento h2 {
    margin: 10px;
}

.conhecimento img {
    width: 40px;
    height: 40px;
    margin: 0 30px;
}

.linguagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    padding-left: 6%;
    padding-right: 6%;
    line-height:33px;
}

.linguagem-item {
    width: calc(33.33% - 1px);
    margin: 3px;
    padding-top: 10px;
    padding-bottom: -10px;
    text-align: center;
    border: 3px solid #141414; 
    border-radius: 10px;
    transition: border-color 0.3s ease;
}

.linguagem-item:hover {
    border-color: #3454DC;
}

.linguagem-item img {
    width: 15%;
    height: auto;
    object-fit: cover;
}

.linguagem-item h2 {
    margin-top: 5px;
}

.galeria {
    position: absolute;
    top: 0%;
    left: 50%;
    height: 90%;
    transform: translate(-50%, -50%);
    max-width: 800px;
    line-height:28px;
    margin-top: 54vh;
    padding: 20px;
    align-items: center;
    text-align: center;
}

.galeria a{
    text-decoration: none;
    color: #3454DC;
}

.galeria h2 {
    padding-top: 10px;
}

.slides {
    box-shadow: 0 4px 8px #000000;

    display: flex;
    overflow: hidden;
    max-width: 100%; 
}

.slide {
    flex: 0 0 100%;
    max-width: 100%;
}

.slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

button {
    position: absolute;
    top: 30%;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    color: #ffffff;
    box-shadow: #3454DC;
}

.anterior {
    left: 1px;
}

.proximo {
    right: 1px;
}

@media screen and (max-width: 1660px) {
    .nome {
        text-align: center;
        top: 67%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .links {
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .button {
        margin: 0 10px;
        display: inline-block;
    }

    .minha-foto {
        align-items: center;
        border-radius: 50%;
        width: 300px;
        height: 300px;
        object-fit: cover;
        margin: -300px auto;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}
    
@media screen and (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column; 
        align-items: flex-end;
        position: absolute;
        top: 60px;
        right: 0; 
        background-color: #0E0E0F;
        width: 100%; 
        box-sizing: border-box;
    }

    .nav-list.active {
        display: flex;
    }

    .hamburguer-menu {
        display: flex;
    }

    nav {
        padding-bottom: 8px;
    }

    .sobre {
        margin-top: 270vw;
        padding-bottom: 200px;
    }

    .formacao {
        padding-top: 250vw;   
    }

    .formacoes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nome {
        text-align: center;
        top: 67%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .links {
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .button {
        margin: 0 10px;
        display: inline-block;
    }

    .minha-foto {
        align-items: center;
        border-radius: 50%;
        width: 250px;
        height: 250px;
        object-fit: cover;
        margin: -300px auto;
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .galeria {
        width: 85%;
    }

    
}

